.main{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #489fb5;
    font-weight: bold;
}
.header{
    margin-top: 4rem;
    color: #16697a;
    text-align: center;
}
.row{
    width: 25rem;
}

.output{
    font-size: 1.3rem;
    color: #16697a;
}
.footer{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}